<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <h1>School Schedule</h1>
 <br/>
 <br/>
  Teachers  <a href="/teacher">click here</a>
  <br/>
  <br/>
  Students  <a href="/student">click here</a>
</body>
</html>
