
<!DOCTYPE html>
<html>
<head>
  <title>How to add calendar using jQuery and fullCalendar</title>
	<!--FullCalendar Dependencies-->
    <link rel='stylesheet' href='css/style.css' />
	<script src='js/jquery.min.js'></script>
	<script type="text/javascript">


</script>
</body>
    <h1>ALl the School Students<h1>
        <a href="#" class="add-student">Add Student </a>

        <ul>
            {{#each students}}
                <li>{{name}} {{last_name}}!! -- <a href="/student/{{_id}}" >Add To Class</a></li>
            {{/each}}
        </ul>



        <div id="dialog" class="dialog hidden">
            <div class="dialog-box">
                <div class="row" style="text-align:right">
                    <a href="#" class='close-Dialog'>Close</a>
                </div>
                <div class="row small-margin">
                    <div>Name: </div>
                    <div><input type='text' class="input-name" value="John"> </div>
                </div>
                <div class="clearfix"/>

                <div class="row small-margin">
                    <div>Last Name: </div>
                    <div><input type='text' class="input-lastname" value="Smith"> </div>
                </div>
                <div class="row small-margin">
                    <input type='button' class="add-student-btn" value="Add Student">
                </div>
            </div>
        </div>
    <script>
        var host_url = '{{host_url}}';
        $(function() {

            $('.add-student').click(function(){
                $('#dialog').removeClass('hidden');
            });

            $('.close-Dialog').click(function(){
                $('#dialog').addClass('hidden');
            });

            $('.add-student-btn').click(function(){

                var url = host_url;
                $('#dialog').addClass('hidden');

                $.post(host_url + "/api/student/", {
                    name: $('.input-name').val(),
                    last_name: $('.input-lastname').val()
                },function( msg ) {
                    alert("Success!!! Your student have been created, page will be reloaded");
                    window.location.reload(true);
              });
            });

        });
    </script>
</html>
